@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-outline-primary" href="/Admin/Home">Go to Admin</a>
    <a class="btn btn-outline-primary" href="/Recruiter/Home">Go to Recruiter</a>
    <a class="btn btn-outline-primary" href="/JobSeeker/Home">Go to Job Seeker</a>


</div>